  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
  * {
    box-sizing: border-box;
        font-family: "Poppins", sans-serif;
  }
   :root {
  --red-txt-color: #FF0033;
  --blue-txt-color: #1680AC;
  --white-pred-color: #fff;
  --blue-btn-color: #2696E9;
}

  body {
    margin: 0;
    padding: 0;
  }
  main{
width: 100%;


    background-color: rgba(19,20,22,255);
}

.menu-brand{
     list-style-type: none !important;
}
header .brand {
  margin-left: 40% ;
 
color: black!important;
font-size: 40px;
font-weight: bold;
letter-spacing: 10px;
  text-decoration: none !important;


}

header .navigation {

  margin-left:0%;
 width: 100%;
  height: 1cm;




}
header .navigation-items{
  width: 100%;
  height: 100%;
position: relative;


}
header .navigation .navigation-items a {
  position: relative;
  color: black;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none !important;
  margin-left: 0px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: black;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
  text-decoration: none !important;
}
.title{

  font-size: 32px ; 
  text-transform: uppercase ;
  margin-bottom: 30px;
  color: white;

  margin: 0 auto;
  text-align: center;
}
.enlaces{

height: 30px;
    border-top: 1px solid black;
  border-bottom: 1px solid black;

}
.submenu{

  display: inline;
margin-left: 30%;

}
#menu a{
margin-right: 100px;
  text-decoration: none !important;
  color: #767676 !important;
}
.submenu a{
  text-decoration: none !important;
  color: #767676 !important;
font-size: 14px;
margin-right: 100px;
text-transform: uppercase;

}

#menu{
  width: 100%;
  padding: 5px;
  padding-left: 26%;
}
#menu ul li {
    background-color:transparent;

}

#menu ul {
  list-style:none;


}

#menu ul a {
  display:block;
  
  text-decoration:none;
  
margin-left: 0px;
  text-transform:capitalize;
  
}

#menu ul li {
position: relative;
float: left;
  margin:0;
  padding:0;
}



#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  z-index: 1111;
  padding:0;
}

#menu ul ul li {
  float:none;
  width:150px

}

#menu ul ul a {
color: red !important;
  line-height:120%;
  padding:10px 15px;
}

#menu ul li:hover > ul {
  display:block;
  background-color:rgba(206, 206, 206, 0.8);
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
    z-index: 999;
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 0px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }
  #menu{
    width: 100%;
    height: 100%;
      padding: 0px;
  padding-left: 0%;
  }
  #menu a{
margin-right: 20px;
  }
#menu ul li{
  display: block;

}


  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
height: 50%;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden !important;
   
  }

  .menu-btn{
    background: url(../_images/iconos/black-menu.svg)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 2000;
    position: absolute;
    background: url(../_images/iconos/close.svg)no-repeat;
    background-size: 25px;
    top: 8%;
    background-position: center;
    transition: 0.3s ease;
  }
  #subtop{
    display: none;

  }
  #top{
    font-size: 20px;
  }
  

}
@media (max-width: 500px){

    }